<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfBinaryRestful.Service.Service">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="web"
                  contract="WcfBinaryRestful.Contracts.IService" behaviorConfiguration="WcfBinaryRestfulBehavior"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WcfBinaryRestfulBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      
      <webHttpBinding>
        <binding name="web"  openTimeout="00:10:00" receiveTimeout="00:10:00" closeTimeout="10:10:00"
            sendTimeout="00:10:00"  maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647"
                      maxArrayLength="2147483647" />
        </binding>
        
      </webHttpBinding>
    </bindings>
    
  </system.serviceModel>
</configuration>